*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  max-height: 800px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  max-height: inherit;
  padding: 133px 30px;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  max-height: 534px;

}

.result {
  max-height: 534px; /*исправить на 100% когда кнопки встанут*/
}

.result__video-container {
  min-width: 100%;
  padding: 78px 0 16px 0;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-thumbnail {
  width: 194px;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}


.content__list {
  max-height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
}


.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 96%;
  max-width: 260px;
}

.content__accent {
  color: rgb(255 255 255 / .3)
}



