*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  max-height: 800px;
}


.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #1B1919;
  max-height: inherit;
  padding: 133px 30px;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  max-height: 534px;
}

.result__video-container {
  max-width: 711px;
  height: 386px;
  margin: 78px 0 20px 0;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  
  
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #000;
  border: 1px solid #fff;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield::placeholder {
  background-color: transparent;
  line-height: 22px;
  font-size: 18px;
  width: fit-content;
}

/* большой вес у селектора на случай если много блоков для ввода текста, а этот такой нитакуся */

.search-form__label > input[type="text"] {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  
}




/*----------------ПРАВАЯ ЧАСТЬ---------------------------*/




.search-form__fieldset-title, .search-form__label-text {
font-family: "Fira Sans Condensed", sans-serif;
font-weight: 400;
line-height: 1;
font-size: 18px;

}


.content__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__list {
  display: grid;
  overflow-y: auto;
  max-height: 298px;
  position: relative;
  overflow-x: hidden;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}


.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  line-height: 90%;
  font-weight: 400;
  padding-top: 6px;
}


.content__video-card-description-container {
  width: 100%;
  overflow: auto;
}

.content__video-card-title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
   
}


.content__video-card {
  display: flex;
}


.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 96%;
  max-width: 260px;
  
}

.content__accent {
  color: rgb(255 255 255 / .3)
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}
























.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 